:root {
  --t_font:'Roboto',sans-serif;
  --b_font:'Red Hat Display', sans-serif;
}

* {
  color: #4B4F51;
  font-family: var(--t_font);
  margin: 0;
  padding: 0;
  background-color: #FFFAFA;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  margin-top: 15px;
  margin-bottom: 15px;
  margin: 0px;
}

.logo {
  margin: 0;
  padding: 0;
}

.wrap {
  text-align: center;
}

.wrap__nav {
  margin-top: 25px;
  font-size: 15px;
}

.wrap__nav a.active {
  color: red;
  pointer-events: none;
}

.wrap__items {
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
}

.wrap__items:hover {
  color: #FB4C47;
}

.wrap__button {
  background-color: #fff;
  border-radius: 65px;
  border: 1px solid #FB4C47;
  color: #FB4C47;
  cursor: pointer;
  margin: 11px;
  padding: 4px 10px;
}

.button {
  background-color: #fff;
  border-radius: 65px;
  border: 1px solid #FB4C47;
  color: #FB4C47;
  cursor: pointer;
  margin: 11px;
  padding: 4px 10px;
  text-decoration: none;
  padding: 10px 10px;
}

.h3 {
  font-size: 15px;
  color: #FA5652;
  text-transform: capitalize;
}

.h1 {
  font-weight: 700px;
  font-size: 25px;
  color: #035755;
  width: 400px;
  line-height: 40px;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.p {
  font-weight: 400px;
  font-size: 15px;
  line-height: 29.6px;
  color: #4B4F51;
  width: 400px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.first-wrap {
  margin-top: 20px;
}

.first-wrap__button {
  width: 80px;
  font-weight: 400px;
  font-size: 15px;
  background-color: #FB4C47;
  color: white;
  border: 4px solid #FB4C47;
  border: none;
}

.first-wrap__button:hover {
  border: 4px solid #FB4C47;
}

.first-wrap img {
  width: 400px;
}

.first-wrap .text {
  margin-bottom: 30px;
}

.second-wrap {
  margin-bottom: 40px;
}

.second-wrap__button {
  background-color: rgba(250, 86, 82, 0.15);
  color: #FA5652;
  border: none;
  font-weight: 400px;
  width: 80px;
}

.second-wrap__button:hover {
  background-color: rgba(247, 57, 54, 0.15);
}

.second-wrap img {
  width: 400px;
}

.subtitle {
  margin: auto;
  text-align: center;
}

.third-wrap {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.third-wrap__cards {
  margin-bottom: 15px;
  text-align: center;
}

.third-wrap__cards:hover {
  background-color: rgba(165, 73, 71, 0.15);
}

.third-wrap img {
  width: 200px;
}

.third-wrap__text {
  margin: auto;
}

.third-wrap__p {
  margin: auto;
  width: 300px;
}

.fourth-wrap {
  margin: auto;
  text-align: center;
}

.fourth-wrap__h1 {
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

.fourth-wrap__p {
  margin: auto;
}

.fourth-wrap img {
  width: 450px;
}

.fifth-text {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.fifth-wrap {
  margin: auto;
  text-align: center;
}

.fifth-wrap .siralama {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fifth-wrap__step {
  width: 50px;
}

.fifth-wrap .text {
  padding-top: 10px;
}

.fifth-wrap__h1 {
  width: 200px;
}

.fifth-wrap__p {
  margin: auto;
}

.fifth-wrap__images {
  width: 300px;
}

.search-wrap {
  text-align: center;
}

.search-wrap__h1 {
  margin: auto;
  text-align: center;
  width: 400px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 50px;
  color: #0C6C44;
  margin-bottom: 30px;
}

.search-wrap__input {
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 8px 80px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 20px 90px;
  margin-bottom: 100px;
  border-inline: none;
}

.search-wrap__input::-webkit-input-placeholder {
  text-align: start;
  color: #035755;
}

.search-wrap__input:-ms-input-placeholder {
  text-align: start;
  color: #035755;
}

.search-wrap__input::-ms-input-placeholder {
  text-align: start;
  color: #035755;
}

.search-wrap__input::placeholder {
  text-align: start;
  color: #035755;
}

.search-wrap__input::after {
  content: "";
  color: red;
}

.footer-wrap {
  text-align: center;
}

.footer-wrap__link {
  width: 15px;
  height: 15px;
  margin: 30px 10px;
}

.footer-wrap__link :last-of-type {
  margin-right: none;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 10px 25px;
  }
  .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap__nav {
    font-size: 15px;
  }
  .wrap__nav a.active {
    position: relative;
  }
  .wrap__nav a.active::after {
    content: '';
    position: absolute;
    bottom: -9px;
    display: inline-block;
    border-radius: 100%;
    background-color: #FB4C47;
    width: 3px;
    height: 3px;
    margin: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .wrap__button {
    padding: 8px 20px;
    margin: 20px;
  }
  .wrap__button:hover {
    background-color: #FB4C47;
    color: white;
  }
  .h3 {
    font-size: 20px;
    color: #FA5652;
  }
  .h1 {
    font-weight: 700px;
    font-size: 35px;
    color: #035755;
    width: 500px;
    margin-bottom: 15;
  }
  .p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 29.6px;
    color: #4B4F51;
    width: 500px;
    margin-bottom: 25px;
  }
  .first-wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .first-wrap__h3 {
    font-size: 20px;
    color: #FA5652;
  }
  .first-wrap__h1 {
    font-weight: 700px;
    font-size: 35px;
    color: #035755;
    width: 500px;
    line-height: 48px;
    margin-bottom: 15;
  }
  .first-wrap__p {
    font-weight: 400px;
    font-size: 20px;
    line-height: 29.6px;
    color: #4B4F51;
    width: 500px;
    margin-bottom: 25px;
  }
  .first-wrap__button {
    width: 80px;
    font-weight: 400px;
    font-size: 15px;
    padding: 15px;
    background-color: #FB4C47;
    color: white;
    border: 4px solid #FB4C47;
    border: none;
  }
  .first-wrap__button:hover {
    border: 4px solid #FB4C47;
  }
  .first-wrap img {
    width: 400px;
  }
  .first-wrap .text {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .second-wrap {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .second-wrap img {
    width: 400px;
    margin-left: -80px;
  }
  .second-wrap .text {
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .second-wrap__button {
    width: 100px;
    font-weight: 500px;
    font-size: 15px;
    border: none;
    padding: 15px;
  }
  .second-wrap__button:hover {
    border: 4px solid #FB4C47;
  }
  .third-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .third-wrap img {
    width: 250px;
  }
  .third-wrap__p {
    width: 250px;
  }
  .fourth-wrap {
    margin-top: 20px;
    text-align: center;
  }
  .fourth-wrap__h1 {
    font-weight: 700px;
  }
  .fourth-wrap__p {
    width: 700px;
    font-size: 18px;
  }
  .fourth-wrap img {
    width: 700px;
  }
  .ters-duz :nth-last-of-type(even) {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .fifth-wrap {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .fifth-wrap .siralama {
    margin-right: 150px;
  }
  .fifth-wrap__p {
    margin: 0%;
    width: 450px;
    font-size: 14px;
    line-height: 221%;
  }
  .fifth-wrap__images {
    margin-top: -70px;
  }
}

@media screen and (min-width: 992px) {
  .header {
    padding-top: 32px;
    margin-bottom: 50px;
  }
  .wrap__nav {
    font-size: 20px;
  }
  .wrap__nav a.active::after {
    width: 10px;
    height: 10px;
    left: 50%;
  }
  .wrap__button {
    font-size: 20px;
    padding: 16px 45px;
    margin: 20px;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .wrap__button:hover {
    background-color: #FB4C47;
    color: white;
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
  }
  .first-wrap img {
    width: 600px;
  }
  .second-wrap img {
    width: 500px;
  }
  .second-wrap .text {
    margin-left: 70px;
  }
  .subtitle {
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
  }
  .subtitle__p {
    width: 500px;
    margin: auto;
    text-transform: capitalize;
  }
  .third-wrap {
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .third-wrap:last-of-type {
    margin: none;
  }
  .third-wrap__cards {
    border: none;
    border-bottom: 3px solid transparent;
  }
  .third-wrap__cards:hover {
    border-bottom: 3px solid red;
  }
  .third-wrap img {
    width: 300px;
  }
  .third-wrap__p {
    margin: auto;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */